.button{
    background: darken($maintheme, 10%);
    color: white;
    border: 0;
    cursor: pointer;
    padding: 8px 14px;
    display: inline-flex;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 4px;
    margin: 5px;
    &.secondary{
        background: $secondarytheme;
    }
    &.search{
        padding: 5px;
    }

    &.featured{
        margin: 15px 0;
        padding: 10px 20px;
        font-size: 1.4em;
    }
    &.bright{
        background: desaturate($maintheme, 20%);
        box-shadow: 0 0 8px 2px rgba(0,0,0,0.5);
    }
    &.flat{
        background: none;
        color: $maintheme;
        &.secondary {
            color: $secondarytheme
        }
    }
}