.footer-header{
    font-size: 2em;
}

.final-footer{
    background: #722;
    padding: 20px;
    color: white;
    .brand{
        font-size: 2em;
        font-weight: bold;
        display: flex;
        align-items: center;
        img{
            padding: 2px;
            max-height: 50px;
        }
    }
    a{
        color: white;
    }
}

.grey-footer{
    background: #ddd;
    padding: 40px;
    color: #222;
    @media (max-width: $tablet) {
        padding: 40px 20px;
    }
}

.seperators{
    padding: 10px;
    display: flex;
    > div {
        flex: 1 0 0;
        padding: 30px;
        border-left: 1px solid #bbb;
        &:first-child{
            border-left: none
        }
    }
    @media (max-width: $tablet) {
        flex-direction: column;
        > div{
            border: 0;
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid #bbb;
            &:last-child {
                border-top: none; 
            }
        }
    }
}

.stats-title{
    font-size: 1.8em;
    font-weight: 600;
    margin: 0;
}

.big-number{
    font-size: 3em;
    font-weight: 1000;
    color: #09c
}

.sponsor-box{
    flex: 1 0 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 10px;
    .sponsor-title{
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        background: darken($secondarytheme, 15%);
        padding: 6px;
    }
    .sponsor-container{
        color: #222;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex: 1 0 auto;
        img{
            padding: 10px;
            max-height: 100px;
            height: 100%;
        }
    }
}

.contact-item{
    padding: 5px;
    display: flex;
    align-items: center;
    .wrapping{
        padding: 6px;
        color: #25b;
        background: white;
        border-radius: 100px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    }
    .contact-text{
        color: #222;
        padding-left: 10px;
        font-size: 1.3em;
        font-weight: bold;
        text-align: left;
    }
}

.sponsor-box  .sponsor-container .large-image{
    max-height: 120px;
}