.event-box {
    background: white;
    margin: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    flex: 1 0 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    .event-background{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background: rgb(5, 26, 53);
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 200px;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.4em;
        text-shadow: 0 0 2px rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.6);
    }
    .buttons-event{
        margin-top: auto;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    .excerpt{
        padding: 15px;
        flex: 1 0 auto;
        padding-bottom: 0;
        font-size: 17px;
        p {
            margin: 0;
        }
    }
}

.events-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.time{
    display: flex;
    .time-length{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        @media (max-width: $phone) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .time-date{
        font-size: 4em;
    }
    .time-text{
        font-size: 2em;
        @media (max-width: $phone) {
            font-size: 1.5em;
        }
    }
}

.card {
    background: white;
    padding: 20px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    &.card-radius {
        border-radius: 20px;
    }
}

.sponsor-image{
    max-height: 100px;
    height: 100%;
}

.sponsor-link{
    margin: 15px;
}

.splitter-small{
    max-width: 400px;
    border: 0;
    border-bottom: 4px solid rgba(0,0,0,0.1);
}